$title-block-top: 7vh;
$side-blocks-top: 40vh;
$side-block-side: 12vw;

$main-color: #fff;
$accent-color: #f57570;

.contacts-page {
  position: relative;
  z-index: 100;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: calc(100vw - (#{$side-block-side} * 2));
  margin: 0 auto;

  color: white;
}

.contacts-title {
  // position: static;
  margin-top: $title-block-top;
  text-align: center;
}

.contacts-title h1 {
  color: $accent-color;
  font-size: 36px;
  font-family: 'Kurale', serif;
}

.contacts-message-btn {
  border: none;
  border-radius: 3px;
  padding: 15px;

  background-color: $accent-color;
  color: $main-color;
  font-family: 'Comfortaa', cursive;
  font-size: 24px;

  transform: translateY(0px);
  box-shadow: 0 0 3px 3px transparent;
  cursor: pointer;
  transition: 0.5s;
}

.contacts-message-btn:hover {
  box-shadow: 0 0 3px 3px #fff;
}

.contacts-message-btn:active {
  transform: translateY(5px);
}

.contacts-after-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8vh;
}

.contacts-after-text p:nth-child(1) {
  font-family: 'Kurale', sans-serif;
  font-size: 38px;
  font-weight: bold;
  color: $main-color;
  text-shadow: 0 0 8px $accent-color;
}

.contacts-after-text p:nth-child(2) {
  font-family: 'Comfortaa', sans-serif;
  font-size: 26px;
  font-weight: bold;
  color: $accent-color;
  margin-bottom: 10px;
}

.contacts-after-text p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

.contacts-after-text button {
  margin-top: 50px;
}