.projects-loader-wrapper {
  height: 350px;
  margin-top: 15vh;
}

.loader-pr {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  box-shadow: 0 0 5px 2px #000;
  top: 50%;
  animation: loader-pr 2s infinite ease;
}

.loader-pr-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-pr-inner 2s infinite ease-in;
}

@keyframes loader-pr {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-pr-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

@media (min-width: 1900px) {
  .projects-loader-wrapper {
    height: 475px;
  }
}