.galaxy-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.galaxy-gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: radial-gradient(circle at 50%, transparent 1%, black 40%);
}

.galaxy-image {
  width: 100%;
  height: 100%;
  background:  url(../../images/galaxy.jpg) center no-repeat, transparent;
  background-size: 60%;
  color: white;
  
  animation: rotateGalaxy 480s linear infinite;
}


@keyframes rotateGalaxy {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}

@media (max-width: 700px) {
  .galaxy-image {
    background-size: 80%;
  }

  .galaxy-gradient {
    background: radial-gradient(circle at 50%, transparent 1%, black 33%);
  }
}