$title-block-top: 7vh;
$side-blocks-top: 30vh;
$side-block-side: 12vw;

$main-color: #fff;
$accent-color: #f57570;

.front-page {
  position: relative;
  z-index: 100;
  
  display: flex;
  flex-direction: column;
  align-items: center;

  color: white;
}

.front-title {
  position: absolute;
  top: $title-block-top;
  text-align: center;
}

.front-title h1 {
  color: $main-color;
  font-size: 54px;
  font-family: 'Comfortaa', cursive;
  text-shadow: 0 0 8px $main-color;
}

.front-title h2 {
  font-size: 28px;
  color: $accent-color;
  font-family: 'Kurale', serif;
}

.text-left,
.text-right {
  position: absolute;
  text-align: center;
  top: $side-blocks-top;
  min-width: 290px;
  width: 30%;
  max-width: 600px;
}

.text-left {
  left: $side-block-side;
}

.text-right {
  right: $side-block-side;
}

.text-title {
  font-size: 24px;
  color: $accent-color;
  font-family: 'Kurale', serif;
}

.text {
  font-size: 18px;
  margin-top: 10px;
  color: $main-color;
  font-family: 'Open Sans', sans-serif;
}

.front-after-text {
  position: absolute;
  top: 63vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8vh;
}

.front-after-text p:nth-child(1) {
  font-family: 'Kurale', sans-serif;
  font-size: 26px;
  font-weight: bold;
  color: $accent-color;
  margin-bottom: 10px;
  text-shadow: 0 0 4px black;
}

.front-after-text p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

.front-after-text button {
  margin-top: 50px;
}

.front-message-btn {
  border: none;
  border-radius: 3px;
  padding: 15px;

  background-color: $accent-color;
  color: $main-color;
  font-family: 'Comfortaa', cursive;
  font-size: 24px;

  transform: translateY(0px);
  box-shadow: 0 0 3px 3px transparent;
  cursor: pointer;
  transition: 0.5s;
}

.front-message-btn:hover {
  box-shadow: 0 0 3px 3px #fff;
}

.front-message-btn:active {
  transform: translateY(5px);
}

@media (max-width: 700px) {
  .text-right {
    display: none;
  }

  .text-left {
    left: auto;
    right: auto;
    margin: 0 auto;
  }

  .front-after-text {
    top: 70vh;
  }

  .front-after-text button {
    margin-top: 20px;
  }

  .front-after-text p {
    display: none;
  }
}

@media (max-height: 400px) {
  .front-after-text p {
    display: none;
  }
  .front-after-text button {
    display: none;
  }
  .text-left h3 {
    display: none;
  }
  .text-left {
    margin-top: 20px;
  }
}